Kaggle is a website that hosts ML competitions. In this lab, you will participate in a Kaggle competition with other students in this class! The top 3 people will earn up to bonus points. To join the competition, visit this link. You will need to register an account with Kaggle, but you can use your Google account.

In [1]:
# https://www.kaggle.com/c/beer2019/overview
# predict the bitterness of the beer 

#import warnings
#warnings.filterwarnings('ignore')
import pandas as pd

df_train = pd.read_csv("dataset/beer_train.csv", index_col="id")
df_train.head(5)

,abv,available,description,glass,ibu,isOrganic,name,originalGravity,srm
id,,,,,,,,,
0,8.2,"Available at the same time of year, every year.",A Belgian-Abbey-Style Tripel that is big in al...,NaN,31.0,N,LoonyToonTripel,1.070,8
1,5.7,"Available at the same time of year, every year.",Covert Hops is a crafty ale. Its stealthy dark...,Pint,45.0,N,Covert Hops,1.056,35
2,5.8,"Available at the same time of year, every year.",This is a traditional German-style Marzen char...,Mug,25.0,N,Oktoberfest,1.048,10
3,5.5,Available year round as a staple beer.,A West Coast-Style Pale Ale balancing plenty o...,Pint,55.0,N,Pale Ale,1.044,5
4,4.8,Available year round as a staple beer.,This Bombshell has a tantalizing crisp and cle...,Pint,11.4,N,Head Turner Blonde Ale,1.045,3

In [2]:
# Proceed to readin test dataset and apply the same transformations to df_test as we did for df_train

df_test = pd.read_csv("dataset/beer_test.csv", index_col="id")
df_test.head(5)

,abv,available,description,glass,ibu,isOrganic,name,originalGravity,srm
id,,,,,,,,,
6000,10.0,Limited availability.,A classic Belgian Trappist style strong ale wi...,Tulip,NaN,N,She WILL!,1.084,17
6001,5.2,Available year round as a staple beer.,An American-style of Pale Ale brewed with a ba...,Pint,NaN,N,Defender American Pale Ale,1.044,22
6002,4.0,Available during the winter months.,"This amber wheat ale has a balanced malt body,...",Tulip,NaN,Y,Hazel,1.036,19
6003,10.2,Available year round as a staple beer.,A uniquely large beer developed by taking our ...,Pint,NaN,N,Cinderella’s Twin Double IPA,1.087,11
6004,6.0,Limited availability.,An American red ale with crisp hop flavor.,NaN,NaN,N,Independence Ale,1.048,14

In [3]:
df_train.shape
df_train.describe()

               abv          ibu  originalGravity
count  6000.000000  6000.000000      6000.000000
mean      6.502388    41.196877         1.053993
std       1.833054    28.846228         0.021747
min       0.200000     1.000000         1.000000
25%       5.200000    22.000000         1.044000
50%       6.000000    33.000000         1.050000
75%       7.400000    55.000000         1.060000
max      19.700000  1000.000000         1.980000

In [4]:
df_train.isna().sum()

abv                   0
available             0
description         479
glass              2342
ibu                   0
isOrganic             0
name                  0
originalGravity       0
srm                   0
dtype: int64

In [5]:
# print the nulls by column
df_train.isna().sum()

abv                   0
available             0
description         479
glass              2342
ibu                   0
isOrganic             0
name                  0
originalGravity       0
srm                   0
dtype: int64

In [6]:
# drop the column 'glass' for the training dataset since it has too many NULLs
# *** TODO ***
df_train.drop("glass", axis=1,inplace=True)
# drop the column 'glass' for the test dataset (to match the training)
df_test.drop("glass", axis=1,inplace=True)

In [7]:
# isOrganic is a binary value, lets convert it to 0/1 for the training dataset
# *** TODO ***
df_train.isOrganic = df_train["isOrganic"].str.replace("Y","1")
df_train.isOrganic = df_train["isOrganic"].str.replace("N","0")

# isOrganic is a binary value, lets convert it to 0/1 for the test dataset
# *** TODO ***
df_test.isOrganic = df_test["isOrganic"].str.replace("Y","1")
df_test.isOrganic = df_test["isOrganic"].str.replace("N","0")

In [8]:
# Lets examine the column 'available'. Note that it is a categorical variable
df_train["available"].value_counts()

Available year round as a staple beer.             2812
Limited availability.                              1204
Available at the same time of year, every year.    1192
Beer is not available.                              255
Available during the summer months.                 159
Available during the winter months.                 142
Available during the fall months.                   141
Available during the spring months.                  95
Name: available, dtype: int64

In [9]:
# Convert column 'available' using oneHotEncoding/get_dummies

df_train = pd.concat([df_train,pd.get_dummies(df_train['available'], prefix='available',dummy_na=True)],axis=1).drop(['available'],axis=1)
df_train.head(2)

,abv,description,ibu,isOrganic,name,originalGravity,srm,"available_Available at the same time of year, every year.",available_Available during the fall months.,available_Available during the spring months.,available_Available during the summer months.,available_Available during the winter months.,available_Available year round as a staple beer.,available_Beer is not available.,available_Limited availability.,available_nan
id,,,,,,,,,,,,,,,,
0,8.2,A Belgian-Abbey-Style Tripel that is big in al...,31.0,0,LoonyToonTripel,1.070,8,1,0,0,0,0,0,0,0,0
1,5.7,Covert Hops is a crafty ale. Its stealthy dark...,45.0,0,Covert Hops,1.056,35,1,0,0,0,0,0,0,0,0

In [10]:
# It probably makes sense to rename those columns to something shorter. 
# Look up how to rename columns (inplace) in a dataframe
# *** TODO ***
df_train = df_train.rename(columns={"available_Available at the same time of year, every year.":"avaiable same time every year"})
df_train = df_train.rename(columns={"available_Available during the fall months.":"avaiable fall"})
df_train = df_train.rename(columns={"available_Available during the spring months.":"avaiable spring"})
df_train = df_train.rename(columns={"available_Available during the summer months.":"avaiable summer"})
df_train = df_train.rename(columns={"available_Available during the winter months.":"avaiable winter"})
df_train = df_train.rename(columns={"available_Available year round as a staple beer.":"avaiable year around"})
df_train = df_train.rename(columns={"available_Beer is not available.":"not avaiable"})
df_train = df_train.rename(columns={"available_Limited availability.":"limited availability"})

# Do the same transformations for the df_test
# *** TODO ***
                         
df_test = df_test.rename(columns={"available_Available at the same time of year, every year.":"avaiable same time every year"})
df_test = df_test.rename(columns={"available_Available during the fall months.":"avaiable fall"})
df_test = df_test.rename(columns={"available_Available during the spring months.":"avaiable spring"})
df_test = df_test.rename(columns={"available_Available during the summer months.":"avaiable summer"})
df_test = df_test.rename(columns={"available_Available during the winter months.":"avaiable winter"})
df_test = df_test.rename(columns={"available_Available year round as a staple beer.":"avaiable year around"})
df_test = df_test.rename(columns={"available_Beer is not available.":"not avaiable"})
df_test = df_test.rename(columns={"available_Limited availability.":"limited availability"})
df_train

,abv,description,ibu,isOrganic,name,originalGravity,srm,avaiable same time every year,avaiable fall,avaiable spring,avaiable summer,avaiable winter,avaiable year around,not avaiable,limited availability,available_nan
id,,,,,,,,,,,,,,,,
0,8.2,A Belgian-Abbey-Style Tripel that is big in al...,31.0,0,LoonyToonTripel,1.070,8,1,0,0,0,0,0,0,0,0
1,5.7,Covert Hops is a crafty ale. Its stealthy dark...,45.0,0,Covert Hops,1.056,35,1,0,0,0,0,0,0,0,0
2,5.8,This is a traditional German-style Marzen char...,25.0,0,Oktoberfest,1.048,10,1,0,0,0,0,0,0,0,0
3,5.5,A West Coast-Style Pale Ale balancing plenty o...,55.0,0,Pale Ale,1.044,5,0,0,0,0,0,1,0,0,0
4,4.8,This Bombshell has a tantalizing crisp and cle...,11.4,0,Head Turner Blonde Ale,1.045,3,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,5.5,"Taking its cues from “Three Threads”, a barten...",33.0,0,Mayflower Porter,1.040,Over 40,0,0,0,0,0,1,0,0,0
5996,11.0,Our barley wine is what would be considered an...,30.0,0,Barbieswine,1.085,20,1,0,0,0,0,0,0,0,0
5997,5.2,Our version of a west coast pale ale pushes th...,45.0,0,Canuck Pale Ale,1.044,8,0,0,0,0,0,1,0,0,0
5998,6.2,Aquarius White IPA combines the phenolic and e...,50.0,0,Aquarius,1.044,2,0,0,0,0,0,0,0,1,0
5999,5.1,NaN,23.0,0,Amber Ale,1.048,15,0,0,0,0,0,1,0,0,0

In [11]:
list(df_train.columns)  # list columns

['abv',
 'description',
 'ibu',
 'isOrganic',
 'name',
 'originalGravity',
 'srm',
 'avaiable same time every year',
 'avaiable fall',
 'avaiable spring',
 'avaiable summer',
 'avaiable winter',
 'avaiable year around',
 'not avaiable',
 'limited availability',
 'available_nan']

In [12]:
# You might have noticed that SRM appears to be numeric, but its not listed as a numeric column. 
# There is probably some rows that are strings that need to be fixed. 
# Correct rows in column 'SRM' so that string values 'Over 40' are replaced with 40

# *** TODO ***
df_train['srm'] = df_train['srm'].replace(["Over 40"], "40")
# Do the same transformation for df_test

# *** TODO ***
df_test['srm'] = df_test['srm'].replace(["Over 40"], "40")

df_train['srm']

id
0        8
1       35
2       10
3        5
4        3
        ..
5995    40
5996    20
5997     8
5998     2
5999    15
Name: srm, Length: 6000, dtype: object

# Setting up model

In [13]:

X_train = df_train.copy(deep=True) # copy the dataframe 
X_train = X_train[["originalGravity", "abv", "isOrganic"]] # use only 1 feature for trainings to start off 
# X_train["originalGravity"].fillna(X_train["originalGravity"].mean())
# X_train["abv"].fillna(X_train["abv"].mean())
# X_train["isOrganic"].fillna(X_train["isOrganic"].mean())
X_train

      originalGravity   abv isOrganic
id
0               1.070   8.2         0
1               1.056   5.7         0
2               1.048   5.8         0
3               1.044   5.5         0
4               1.045   4.8         0
...               ...   ...       ...
5995            1.040   5.5         0
5996            1.085  11.0         0
5997            1.044   5.2         0
5998            1.044   6.2         0
5999            1.048   5.1         0

[6000 rows x 3 columns]

In [14]:
X_test = df_test.copy(deep=True) # copy the dataframe 
X_test = X_test[["originalGravity","abv", "isOrganic"]] # use only 1 feature for trainings to start off 
# X_test["originalGravity"].fillna(X_test["originalGravity"].mean())
# X_test["abv"].fillna(X_test["abv"].mean())
# X_test["isOrganic"].fillna(X_test["isOrganic"].mean())
X_test

       originalGravity   abv isOrganic
id
6000             1.084  10.0         0
6001             1.044   5.2         0
6002             1.036   4.0         1
6003             1.087  10.2         0
6004             1.048   6.0         0
...                ...   ...       ...
10748            1.060   4.5         0
10749            1.055   4.5         0
10750            1.045   7.0         0
10751            1.030   5.2         0
10752            1.060   6.0         0

[4753 rows x 3 columns]

In [15]:
from sklearn.linear_model import LinearRegression

y_train = df_train["ibu"]

model = LinearRegression()
model.fit(X=X_train, y=y_train)
Y_predict = model.predict(X=X_test) # TODO , change X=X_train to X_test once you create X_test per the instructions below

In [16]:
# Examine the model coefficients, what can you conclude ??
model.coef_
# ** TODO ** Observations / comments

array([138.92631111,   6.64320598,   0.19974788])

The coefficients indicates that the first two value "originalGravity" and "abv" has the greatest impact on ibu

In [17]:
output=pd.DataFrame(data={"id":df_test.index,"ibu":Y_predict}) # first need to create df_test 

output.to_csv(path_or_buf="results.csv",index=False,quoting=3,sep=',')

Next, we want to evaluate this model on the test dataset and submit our predictions to Kaggle. 

1) Evaluate the code from the first cell and add a new dataframe called df_test to read in the beer_test.csv file. 

2) For each step / transformation that was applied to the training dataset, apply it to the test dataset

3) Go to Kaggle, create an account

4) Submit the results.csv file for this compeition to Kaggle

5) What score did you get??  ** TODO , PUT SCORE HERE **

6) Now, experiment with a differnt set of features. What is the best score recieved? What subset of features / columns did you use?

Text features

In [18]:
df_train["description"].fillna("", inplace=True)

In [19]:
df_train.isna().sum()

abv                              0
description                      0
ibu                              0
isOrganic                        0
name                             0
originalGravity                  0
srm                              0
avaiable same time every year    0
avaiable fall                    0
avaiable spring                  0
avaiable summer                  0
avaiable winter                  0
avaiable year around             0
not avaiable                     0
limited availability             0
available_nan                    0
dtype: int64

In [20]:
#TF-IDF to find the important features 
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer(lowercase=True, use_idf=True, max_features=50, stop_words="english")

vectors = tfidf_vectorizer.fit_transform(df_train["description"])

df_train_tfidf = pd.DataFrame(vectors.todense(), columns = tfidf_vectorizer.get_feature_names())
df_train_tfidf

,ale,american,aroma,balanced,beer,belgian,bitterness,black,bodied,body,...,refreshing,rich,roasted,smooth,stout,style,sweet,traditional,wheat,yeast
0,0.000000,0.000000,0.000000,0.0,0.258033,0.489739,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.00000,0.000000,0.0,0.362750,0.000000,0.000000,0.0,0.450907
1,0.239810,0.000000,0.322362,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.414739,...,0.0,0.0,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000
2,0.000000,0.000000,0.222447,0.0,0.000000,0.000000,0.256752,0.0,0.0,0.286193,...,0.0,0.0,0.00000,0.000000,0.0,0.216837,0.266741,0.298023,0.0,0.000000
3,0.340263,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.00000,0.000000,0.0,0.445861,0.000000,0.000000,0.0,0.000000
4,0.292207,0.000000,0.392796,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.00000,0.456534,0.0,0.000000,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,0.000000,0.000000,0.000000,0.0,0.132770,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.24382,0.222552,0.0,0.000000,0.000000,0.000000,0.0,0.464025
5996,0.000000,0.000000,0.000000,0.0,0.274551,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.00000,0.000000,0.0,0.385972,0.000000,0.000000,0.0,0.000000
5997,0.277650,0.000000,0.373228,0.0,0.000000,0.000000,0.430786,0.0,0.0,0.000000,...,0.0,0.0,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000
5998,0.000000,0.472594,0.000000,0.0,0.000000,0.593344,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000
5999,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000

In [21]:
df_train.iloc[5998]["description"]

'Aquarius White IPA combines the phenolic and estery characteristics of a classic Belgian witbier with fruity and citrusy American hop varieties.'

In [22]:
df_train = pd.concat([df_train, df_train_tfidf], axis =1)
df_train

,abv,description,ibu,isOrganic,name,originalGravity,srm,avaiable same time every year,avaiable fall,avaiable spring,...,refreshing,rich,roasted,smooth,stout,style,sweet,traditional,wheat,yeast
0,8.2,A Belgian-Abbey-Style Tripel that is big in al...,31.0,0,LoonyToonTripel,1.070,8,1,0,0,...,0.0,0.0,0.00000,0.000000,0.0,0.362750,0.000000,0.000000,0.0,0.450907
1,5.7,Covert Hops is a crafty ale. Its stealthy dark...,45.0,0,Covert Hops,1.056,35,1,0,0,...,0.0,0.0,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000
2,5.8,This is a traditional German-style Marzen char...,25.0,0,Oktoberfest,1.048,10,1,0,0,...,0.0,0.0,0.00000,0.000000,0.0,0.216837,0.266741,0.298023,0.0,0.000000
3,5.5,A West Coast-Style Pale Ale balancing plenty o...,55.0,0,Pale Ale,1.044,5,0,0,0,...,0.0,0.0,0.00000,0.000000,0.0,0.445861,0.000000,0.000000,0.0,0.000000
4,4.8,This Bombshell has a tantalizing crisp and cle...,11.4,0,Head Turner Blonde Ale,1.045,3,0,0,0,...,0.0,0.0,0.00000,0.456534,0.0,0.000000,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,5.5,"Taking its cues from “Three Threads”, a barten...",33.0,0,Mayflower Porter,1.040,40,0,0,0,...,0.0,0.0,0.24382,0.222552,0.0,0.000000,0.000000,0.000000,0.0,0.464025
5996,11.0,Our barley wine is what would be considered an...,30.0,0,Barbieswine,1.085,20,1,0,0,...,0.0,0.0,0.00000,0.000000,0.0,0.385972,0.000000,0.000000,0.0,0.000000
5997,5.2,Our version of a west coast pale ale pushes th...,45.0,0,Canuck Pale Ale,1.044,8,0,0,0,...,0.0,0.0,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000
5998,6.2,Aquarius White IPA combines the phenolic and e...,50.0,0,Aquarius,1.044,2,0,0,0,...,0.0,0.0,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000
5999,5.1,,23.0,0,Amber Ale,1.048,15,0,0,0,...,0.0,0.0,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000

In [23]:
X_train = df_train_tfidf.copy(deep=True)
y_train = df_train["ibu"]

model = LinearRegression()
model.fit(X=X_train, y=y_train)
# Y_predict = model.predict(X=X_test) # TODO , change X=X_train to X_test once you create X_test per the instructions below

LinearRegression()

In [24]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
import numpy as np
pipeline = make_pipeline(
    StandardScaler(),
    LinearRegression()
)

pipeline.fit(X=X_train, y=y_train)

scores = cross_val_score(pipeline, X=X_train, y=y_train, cv=10)

print(np.mean(scores))

0.3611627610914545