In [1]:
import requests 
response = requests.get("https://www.imdb.com/list/ls050274118/")
import pandas as pd

Import Necessary Libraries and get request from website

In [2]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")
soup.title.text

'Top 100 Greatest Actors of All Time (The Ultimate List) - IMDb'

Import beatifual soup and show title

In [3]:
names = soup.find_all('div', class_='lister-item mode-detail')
print(names[0])

<div class="lister-item mode-detail">
<div class="lister-item-image">
<a href="/name/nm0000197/"> <img alt="Jack Nicholson" height="209" src="https://m.media-amazon.com/images/M/MV5BMTQ3OTY0ODk0M15BMl5BanBnXkFtZTYwNzE4Njc4._V1_UY209_CR5,0,140,209_AL_.jpg" width="140"/>
</a> </div>
<div class="lister-item-content">
<h3 class="lister-item-header">
<span class="lister-item-index unbold text-primary">1. </span>
<a href="/name/nm0000197"> Jack Nicholson
</a> </h3>
<p class="text-muted text-small">
                        Actor <span class="ghost">|</span>
<a href="/title/tt0071315/"> Chinatown
</a> </p>
<p>
Jack Nicholson, an American actor, producer, director and screenwriter, is a three-time Academy Award winner and twelve-time nominee. Nicholson is also notable for being one of two actors - the other being <a href="/name/nm0000323">Michael Caine</a> - who have received an Oscar nomination in every decade from the 1960s through ...                </p>
</div>
<div class="clear"></div>
<div class="list-description"><p>Acting Abilities:     <br/><br/>Acting Skill - 5 Stars
Overall Versatility - 5 Stars
Role Transformation - 5 Stars<br/><br/>Awards &amp; Nominations:<br/><br/>Oscars: 3
Oscar Nominations: 12
BAFTA Awards: 4
BAFTA Nominations: 8
Golden Globes: 6
Golden Globe Nominations: 17<br/><br/>Greatest Performances:<br/><br/>"The Shining" - Level of Difficulty - 5 Stars
"As Good as It Gets" - Level of Difficulty - 4.8 Stars
"One Flew…….Cuckoo's Nest" - Level of Difficulty - 5 Stars</p></div> </div>

Find the class that contains all the actor's data

In [4]:
first_name = names[0]
first_name.h3.a.text.strip("\n")[1:]

'Jack Nicholson'

Try to find the name of the first actor

In [5]:
first_name.find('div', class_='list-description').text.split("\n")

['Acting Abilities:     Acting Skill - 5 Stars ',
 'Overall Versatility - 5 Stars',
 'Role Transformation - 5 StarsAwards & Nominations:Oscars: 3',
 'Oscar Nominations: 12',
 'BAFTA Awards: 4',
 'BAFTA Nominations: 8',
 'Golden Globes: 6',
 'Golden Globe Nominations: 17Greatest Performances:"The Shining" - Level of Difficulty - 5 Stars',
 '"As Good as It Gets" - Level of Difficulty - 4.8 Stars',
 '"One Flew…….Cuckoo\'s Nest" - Level of Difficulty - 5 Stars']

Find the achivement of the first actor to see the data format

In [6]:
rows = []
for actor in names[:]:
    name = actor.h3.a.text.strip("\n")[1:]
    Acting_Abilities = actor.find('div', class_='list-description').text.split("\n")
    Acting_Skills = Acting_Abilities[0].strip("Acting Abilities:     Acting Skill - ")
    Overall_Versatility = Acting_Abilities[1].lstrip("Overall Versatility -")
    a = Acting_Abilities[2].split("Awards")
    Role_transformation = a[0].lstrip("Role Transformation - ")
    Oscars = Acting_Abilities[2][-1]
    Oscars_Nominations =  Acting_Abilities[3][-1]
    BAFTA_Awards = Acting_Abilities[4][-1]
    BAFTA_Nominations = Acting_Abilities[5][-1]
    Golden_Globes = Acting_Abilities[6][-1]
    b = Acting_Abilities[7].split("Greatest Performances")
    Golden_Globe_Nominations = b[0].lstrip("Golden Globe Nominations: ")
    rows.append({
        "name": name,
        "Acting Skills ": Acting_Skills,
        "Overall Versatility": Overall_Versatility,
        "Role Transformation": Role_transformation,
        "Oscars": Oscars,
        "Oscars_Nominations": Oscars_Nominations,
        "BAFTA Awards": BAFTA_Awards,
        "BAFTA Nominations": BAFTA_Nominations,
        "Golden Globes": Golden_Globes,
        "Golden Globe Nominations":Golden_Globe_Nominations
    })
print(rows[1])

{'name': 'Marlon Brando', 'Acting Skills ': '5 Star', 'Overall Versatility': '5 Stars', 'Role Transformation': '5 Stars', 'Oscars': '2', 'Oscars_Nominations': '8', 'BAFTA Awards': '3', 'BAFTA Nominations': '8', 'Golden Globes': '2', 'Golden Globe Nominations': '6'}

Part the string accordingly to each achivement and append them into a list

In [7]:
df = pd.DataFrame(rows)
df.index=df.index+1
df

,name,Acting Skills,Overall Versatility,Role Transformation,Oscars,Oscars_Nominations,BAFTA Awards,BAFTA Nominations,Golden Globes,Golden Globe Nominations
1,Jack Nicholson,5 Star,5 Stars,5 Stars,3,2,4,8,6,17
2,Marlon Brando,5 Star,5 Stars,5 Stars,2,8,3,8,2,6
3,Robert De Niro,5 Star,4.8 Stars,4.9 Stars,2,7,0,6,1,8
4,Al Pacino,5 Star,4.8 Stars,4.9 Stars,1,8,2,5,4,15
5,Daniel Day-Lewis,5 Star,5 Stars,5 Stars,3,5,4,6,2,7
...,...,...,...,...,...,...,...,...,...,...
96,Alan Rickman,4.6 Star,4.7 Stars,4.7 Stars,0,0,1,,1,1
97,Edward G. Robinson,4.6 Star,4.2 Stars,4.4 Stars,),),0,0,0,0
98,Will Smith,4.7 Star,4.5 Stars,4.6 Stars,0,2,0,0,0,5
99,John Goodman,4.7 Star,4.5 Stars,4.6 Stars,0,0,0,0,1,5
100,Buster Keaton,4.7 Star,4.6 Stars,4.8 Stars,0,0,0,0,0,0

Show the data frame using the previous list